<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1>New Message</h1>
  <form method="POST" action="/new">
    <label>
      Your name:
      <input type="text" name="user" required>
    </label>
    <br><br>
    <label>
      Message:
      <input type="text" name="message" required>
    </label>
    <br><br>
    <button type="submit">Send Message</button>
  </form>
  <a href="/">Back to messages</a>
</body>
</html>